/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body { padding-top: 80px; }

.navbar-light .navbar-brand {
    color: #c1d62e;
}

.list-group-item.active {
    background-color: #c1d62e;
    border-color: #c1d62e;
}